  {% extends "base_generic.html" %}
{% block content %}

  <h2>Filter Search</h2>
     <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    <h2>Results List</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Calories</th>
            <th scope="col">Fat</th>
            <th scope="col">Protein</th>
            <th scope="col">Iron</th>
            <th scope="col">Potassium</th>
            <th scope="col">Magnesium</th>
            <th scope="col">kind</th>
        </tr>
        </thead>
    <tbody>
    {% for foodinst in filter.qs %}
        <tr>

            <td>{{ foodinst.name }}</td>
            <td>{{ foodinst.calories }}</td>
            <td>{{ foodinst.fat }}</td>
            <td>{{ foodinst.protein }}</td>
            <td>{{ foodinst.iron }}</td>
            <td>{{ foodinst.potassium }}</td>
            <td>{{ foodinst.magnesium }}</td>
            <td>{{ foodinst.kind }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
