{% extends "base_generic.html" %}

{% block content %}


        <h2>Today's Food</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Name</th>
            <th scope="col">Calories</th>
            <th scope="col">Fat</th>
            <th scope="col">Protein</th>
            <th scope="col">Iron</th>
            <th scope="col">Potassium</th>
            <th scope="col">Magnesium</th>
            <th scope="col">Kind</th>
        </tr>
        </thead>
    <tbody>

        {% for item in my_consumed %}
            <tr>
                    <td> {{ item.consumed|date:'H:i'}}</td>
                    <th scope="row"> {{ item.food }}</th>
                    <td> {{ item.food.calories }}</td>
                    <td> {{ item.food.fat }}</td>
                    <td> {{ item.food.protein }}</td>
                    <td> {{ item.food.iron }}</td>
                    <td> {{ item.food.potassium }}</td>
                    <td> {{ item.food.magnesium }}</td>
                    <td> {{ item.food.kind }}</td>
                     <td> <a href="{% url 'foodinstance-delete' item.pk %}">
                          -  Delete
                     </a></td>
            </tr>

        {% endfor %}
   </tbody>
    </table>


{% endblock %}


